/*******************************************************************************

Copyright (c) 2015 Massimo Maria Ghisalberti <massimo.ghisalberti@gmail.com>  

Permission is hereby granted, free of charge, to any person obtaining a copy of
this software and associated documentation files (the "Software"), to deal in
the Software without restriction, including without limitation the rights to
use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies
of the Software, and to permit persons to whom the Software is furnished to do
so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.

*******************************************************************************/
/**************************************************************************************** 
  ORG CSS CLASS
*****************************************************************************************

     p.author            author information, including email
     p.date              publishing date
     p.creator           creator info, about org mode version
     .title              document title
     .todo               TODO keywords, all not-done states
     .done               the DONE keywords, all states that count as done
     .WAITING            each TODO keyword also uses a class named after itself
     .timestamp          timestamp
     .timestamp-kwd      keyword associated with a timestamp, like SCHEDULED
     .timestamp-wrapper  span around keyword plus timestamp
     .tag                tag in a headline
     ._HOME              each tag uses itself as a class, "@" replaced by "_"
     .target             target for links
     .linenr             the line number in a code example
     .code-highlighted   for highlighting referenced code lines
     div.outline-N       div for outline level N (headline plus text))
     div.outline-text-N  extra div for text at outline level N
     .section-number-N   section number in headlines, different for each level
     .figure-number      label like "Figure 1:"
     .table-number       label like "Table 1:"
     .listing-number     label like "Listing 1:"
     div.figure          how to format an inlined image
     pre.src             formatted source code
     pre.example         normal example
     p.verse             verse paragraph
     div.footnotes       footnote section headline
     p.footnote          footnote definition paragraph, containing a footnote
     .footref            a footnote reference number (always a <sup>)
     .footnum            footnote number in footnote definition (always <sup>)


*******************************************************************************************/
@import url(http://fonts.googleapis.com/css?family=Ubuntu);
/*#336699;*/
/* Normalize.css - BEGIN: https://necolas.github.io/normalize.css/ */
/*! normalize.css v3.0.2 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* Normalize.css - END */
* {
  font-family: Ubuntu, "DejaVu Sans", Arial, sans-serif;
  font-size: 10.5pt; }

body {
  background: #ffffff none repeat scroll 0 0;
  color: #000000;
  margin: 0;
  padding: 2em; }

/************************************************************************************
* main headings
************************************************************************************/
h1 {
  font-size: 200%;
  font-weight: 700;
  margin-bottom: 1.4em; }

h2 {
  font-size: 180%;
  font-weight: 700;
  margin-bottom: 1.3em; }

h3 {
  font-size: 160%;
  font-weight: 700;
  margin-bottom: 1.2em; }

h4 {
  font-size: 140%;
  font-weight: 700;
  margin-bottom: 1.1em; }

h5 {
  font-size: 120%;
  font-weight: 700;
  margin-bottom: 1.0em; }

h6 {
  font-size: 100%;
  font-weight: 700;
  margin-bottom: 1.1em; }

h1.title {
  background: #2D2D2D none repeat scroll 0 0;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: .1em;
  margin: -1em -1em .2em;
  padding: .75em 1em; }

/************************************************************************************/
/************************************************************************************
* outline headings
************************************************************************************/
.outline-1 h1 {
  font-size: 200%; }
  .outline-1 h1 * {
    font-size: inherit; }

.outline-2 h2 {
  font-size: 180%; }
  .outline-2 h2 * {
    font-size: inherit; }

.outline-3 h3 {
  font-size: 160%; }
  .outline-3 h3 * {
    font-size: inherit; }

.outline-4 h4 {
  font-size: 140%; }
  .outline-4 h4 * {
    font-size: inherit; }

.outline-5 h5 {
  font-size: 120%; }
  .outline-5 h5 * {
    font-size: inherit; }

.outline-6 h6 {
  font-size: 100%; }
  .outline-6 h6 * {
    font-size: inherit; }

/************************************************************************************/
p {
  margin: 0em 0em 0.4em 0em; }

a {
  color: #113399;
  background-color: transparent;
  padding: 1px;
  text-decoration: none; }
  a:hover {
    color: #990000; }
  a:visited {
    color: #113399; }

div#content {
  border: 1px solid #aaaaaa;
  background: #ffffff;
  margin: 0;
  padding: 2em; }
  div#content p {
    text-align: justify;
    line-height: 1.5em; }

div#org-div-home-and-up {
  background-color: transparent;
  color: #113399; }
  div#org-div-home-and-up a:hover {
    color: #990000; }
  div#org-div-home-and-up a:link, div#org-div-home-and-up a:visited {
    color: #113399; }

#table-of-contents {
  margin: 1em 0;
  padding: 0.1em; }
  #table-of-contents #text-table-of-contents {
    margin-top: 0em; }
    #table-of-contents #text-table-of-contents ul {
      list-style: none;
      line-height: 1.5em; }
      #table-of-contents #text-table-of-contents ul li {
        margin: 0.2em 0em 0.2em -0.4em; }
        #table-of-contents #text-table-of-contents ul li a {
          color: #113399;
          background-color: #ffffff;
          padding: 1px;
          text-decoration: none; }
          #table-of-contents #text-table-of-contents ul li a:active {
            color: #990000; }
          #table-of-contents #text-table-of-contents ul li a:hover {
            color: #990000; }
          #table-of-contents #text-table-of-contents ul li a:visited {
            color: #113399; }
      #table-of-contents #text-table-of-contents ul li:before {
        font-weight: 700;
        content: ""; }

.org-ul {
  margin: 1em 0em 1em 1.4em;
  padding: .1em;
  list-style: none;
  line-height: 1.5em; }
  .org-ul li {
    margin: 0.2em 0em 0em 0em;
    /* font-size: 98%;
    * {font-size: 98%;} */
    /* b:first-child {margin: 0em 0.6em 0em 0.6em;} */ }
  .org-ul li:before {
    font-weight: 700;
    content: ""; }

div.title {
  margin: -1em -1em 0;
  font-size: 200%;
  font-weight: bold;
  background: #2D2D2D;
  color: #ffffff;
  padding: .75em 1em;
  font-family: "BitStream Vera Sans", Verdana;
  letter-spacing: .1em; }

.verbatim {
  margin: .5em 0; }
  .verbatim pre {
    margin: 0; }

.verbatim-caption {
  border: 1px solid #cccccc;
  border-bottom: 0;
  background: #ffffff;
  display: block;
  font-size: 80%;
  padding: .2em; }

/* Source code formatting */
tt,
code {
  color: #000000;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-family: "Ubuntu Mono", "DejaVu Sans Mono", monospace;
  font-size: 10.5pt;
  padding: 0em 1pt 0em 1pt; }
  tt *,
  code * {
    font-family: "Ubuntu Mono", "DejaVu Sans Mono", monospace;
    font-size: 10.5pt; }

tt {
  color: #0000FF; }

code {
  padding: 0.1em 0.2em;
  border: 1px solid #AEBDCC;
  border-radius: 3px;
  background: #F5F5F5;
  margin: 0em 0.1em; }

pre,
pre.src {
  background-color: #F5F5F5;
  color: #000000;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  border: 1pt solid #AEBDCC;
  font-family: "Ubuntu Mono", "DejaVu Sans Mono", monospace;
  font-size: 10.5pt;
  overflow: auto;
  padding: 5pt; }
  pre *,
  pre.src * {
    font-family: "Ubuntu Mono", "DejaVu Sans Mono", monospace;
    font-size: 10.5pt; }

sub a,
sup a {
  font-size: 80%;
  margin: 0em 0.1em;
  text-decoration: underline;
  padding: 1px 1px 0px;
  font-weight: bold; }

/* code block custom title **************************/
pre.src-awk:before {
  content: "awk source.";
  display: block;
  padding: 0.6em 1em 0.4em 1em;
  margin: -1em -0.6em 1em -0.6em;
  font-size: 80%;
  text-align: right;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.15)), color-stop(100%, rgba(0, 0, 0, 0.15)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26000000', endColorstr='#26000000',GradientType=0 );
  /* IE6-9 */ }

pre.src-c:before {
  content: "C source.";
  display: block;
  padding: 0.6em 1em 0.4em 1em;
  margin: -1em -0.6em 1em -0.6em;
  font-size: 80%;
  text-align: right;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.15)), color-stop(100%, rgba(0, 0, 0, 0.15)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26000000', endColorstr='#26000000',GradientType=0 );
  /* IE6-9 */ }

pre.src-clojure:before {
  content: "clojure source.";
  display: block;
  padding: 0.6em 1em 0.4em 1em;
  margin: -1em -0.6em 1em -0.6em;
  font-size: 80%;
  text-align: right;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.15)), color-stop(100%, rgba(0, 0, 0, 0.15)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26000000', endColorstr='#26000000',GradientType=0 );
  /* IE6-9 */ }

pre.src-csharp:before {
  content: "Csharp source.";
  display: block;
  padding: 0.6em 1em 0.4em 1em;
  margin: -1em -0.6em 1em -0.6em;
  font-size: 80%;
  text-align: right;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.15)), color-stop(100%, rgba(0, 0, 0, 0.15)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26000000', endColorstr='#26000000',GradientType=0 );
  /* IE6-9 */ }

pre.src-csharp:before {
  content: "C# source."; }

pre.src-ditaa:before {
  content: "ditaa source.";
  display: block;
  padding: 0.6em 1em 0.4em 1em;
  margin: -1em -0.6em 1em -0.6em;
  font-size: 80%;
  text-align: right;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.15)), color-stop(100%, rgba(0, 0, 0, 0.15)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26000000', endColorstr='#26000000',GradientType=0 );
  /* IE6-9 */ }

pre.src-d:before {
  content: "D source.";
  display: block;
  padding: 0.6em 1em 0.4em 1em;
  margin: -1em -0.6em 1em -0.6em;
  font-size: 80%;
  text-align: right;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.15)), color-stop(100%, rgba(0, 0, 0, 0.15)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26000000', endColorstr='#26000000',GradientType=0 );
  /* IE6-9 */ }

pre.src-fsharp:before {
  content: "Fsharp source.";
  display: block;
  padding: 0.6em 1em 0.4em 1em;
  margin: -1em -0.6em 1em -0.6em;
  font-size: 80%;
  text-align: right;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.15)), color-stop(100%, rgba(0, 0, 0, 0.15)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26000000', endColorstr='#26000000',GradientType=0 );
  /* IE6-9 */ }

pre.src-fsharp:before {
  content: "F# source."; }

pre.src-emacs-lisp:before {
  content: "emacs-lisp source.";
  display: block;
  padding: 0.6em 1em 0.4em 1em;
  margin: -1em -0.6em 1em -0.6em;
  font-size: 80%;
  text-align: right;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.15)), color-stop(100%, rgba(0, 0, 0, 0.15)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26000000', endColorstr='#26000000',GradientType=0 );
  /* IE6-9 */ }

pre.src-haskell:before {
  content: "haskell source.";
  display: block;
  padding: 0.6em 1em 0.4em 1em;
  margin: -1em -0.6em 1em -0.6em;
  font-size: 80%;
  text-align: right;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.15)), color-stop(100%, rgba(0, 0, 0, 0.15)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26000000', endColorstr='#26000000',GradientType=0 );
  /* IE6-9 */ }

pre.src-latex:before {
  content: "latex source.";
  display: block;
  padding: 0.6em 1em 0.4em 1em;
  margin: -1em -0.6em 1em -0.6em;
  font-size: 80%;
  text-align: right;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.15)), color-stop(100%, rgba(0, 0, 0, 0.15)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26000000', endColorstr='#26000000',GradientType=0 );
  /* IE6-9 */ }

pre.src-lisp:before {
  content: "lisp source.";
  display: block;
  padding: 0.6em 1em 0.4em 1em;
  margin: -1em -0.6em 1em -0.6em;
  font-size: 80%;
  text-align: right;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.15)), color-stop(100%, rgba(0, 0, 0, 0.15)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26000000', endColorstr='#26000000',GradientType=0 );
  /* IE6-9 */ }

pre.src-matlab:before {
  content: "matlab source.";
  display: block;
  padding: 0.6em 1em 0.4em 1em;
  margin: -1em -0.6em 1em -0.6em;
  font-size: 80%;
  text-align: right;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.15)), color-stop(100%, rgba(0, 0, 0, 0.15)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26000000', endColorstr='#26000000',GradientType=0 );
  /* IE6-9 */ }

pre.src-ocaml:before {
  content: "ocaml source.";
  display: block;
  padding: 0.6em 1em 0.4em 1em;
  margin: -1em -0.6em 1em -0.6em;
  font-size: 80%;
  text-align: right;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.15)), color-stop(100%, rgba(0, 0, 0, 0.15)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26000000', endColorstr='#26000000',GradientType=0 );
  /* IE6-9 */ }

pre.src-org:before {
  content: "org source.";
  display: block;
  padding: 0.6em 1em 0.4em 1em;
  margin: -1em -0.6em 1em -0.6em;
  font-size: 80%;
  text-align: right;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.15)), color-stop(100%, rgba(0, 0, 0, 0.15)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26000000', endColorstr='#26000000',GradientType=0 );
  /* IE6-9 */ }

pre.src-perl:before {
  content: "perl source.";
  display: block;
  padding: 0.6em 1em 0.4em 1em;
  margin: -1em -0.6em 1em -0.6em;
  font-size: 80%;
  text-align: right;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.15)), color-stop(100%, rgba(0, 0, 0, 0.15)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26000000', endColorstr='#26000000',GradientType=0 );
  /* IE6-9 */ }

pre.src-python:before {
  content: "python source.";
  display: block;
  padding: 0.6em 1em 0.4em 1em;
  margin: -1em -0.6em 1em -0.6em;
  font-size: 80%;
  text-align: right;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.15)), color-stop(100%, rgba(0, 0, 0, 0.15)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26000000', endColorstr='#26000000',GradientType=0 );
  /* IE6-9 */ }

pre.src-ruby:before {
  content: "ruby source.";
  display: block;
  padding: 0.6em 1em 0.4em 1em;
  margin: -1em -0.6em 1em -0.6em;
  font-size: 80%;
  text-align: right;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.15)), color-stop(100%, rgba(0, 0, 0, 0.15)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26000000', endColorstr='#26000000',GradientType=0 );
  /* IE6-9 */ }

pre.src-scheme:before {
  content: "scheme source.";
  display: block;
  padding: 0.6em 1em 0.4em 1em;
  margin: -1em -0.6em 1em -0.6em;
  font-size: 80%;
  text-align: right;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.15)), color-stop(100%, rgba(0, 0, 0, 0.15)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26000000', endColorstr='#26000000',GradientType=0 );
  /* IE6-9 */ }

pre.src-sh {
  background-color: #F5F5F5 !important;
  color: #1c1c1c !important;
  font-style: normal !important;
  font-weight: normal !important;
  text-decoration: none !important; }
  pre.src-sh * {
    background-color: #F5F5F5 !important;
    color: #1c1c1c !important;
    font-style: normal !important;
    font-weight: normal !important;
    text-decoration: none !important; }

pre.src-sh:before {
  content: "sh source.";
  display: block;
  padding: 0.6em 1em 0.4em 1em;
  margin: -1em -0.6em 1em -0.6em;
  font-size: 80%;
  text-align: right;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.15)), color-stop(100%, rgba(0, 0, 0, 0.15)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26000000', endColorstr='#26000000',GradientType=0 );
  /* IE6-9 */ }

pre.src-sqlite:before {
  content: "sqlite source.";
  display: block;
  padding: 0.6em 1em 0.4em 1em;
  margin: -1em -0.6em 1em -0.6em;
  font-size: 80%;
  text-align: right;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.15)), color-stop(100%, rgba(0, 0, 0, 0.15)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26000000', endColorstr='#26000000',GradientType=0 );
  /* IE6-9 */ }

pre.src-asymptote:before {
  content: "asymptote source.";
  display: block;
  padding: 0.6em 1em 0.4em 1em;
  margin: -1em -0.6em 1em -0.6em;
  font-size: 80%;
  text-align: right;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.15)), color-stop(100%, rgba(0, 0, 0, 0.15)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26000000', endColorstr='#26000000',GradientType=0 );
  /* IE6-9 */ }

pre.src-calc:before {
  content: "calc source.";
  display: block;
  padding: 0.6em 1em 0.4em 1em;
  margin: -1em -0.6em 1em -0.6em;
  font-size: 80%;
  text-align: right;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.15)), color-stop(100%, rgba(0, 0, 0, 0.15)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26000000', endColorstr='#26000000',GradientType=0 );
  /* IE6-9 */ }

pre.src-cpp:before {
  content: "Cpp source.";
  display: block;
  padding: 0.6em 1em 0.4em 1em;
  margin: -1em -0.6em 1em -0.6em;
  font-size: 80%;
  text-align: right;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.15)), color-stop(100%, rgba(0, 0, 0, 0.15)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26000000', endColorstr='#26000000',GradientType=0 );
  /* IE6-9 */ }

pre.src-cpp:before {
  content: "C++ source."; }

pre.src-css:before {
  content: "css source.";
  display: block;
  padding: 0.6em 1em 0.4em 1em;
  margin: -1em -0.6em 1em -0.6em;
  font-size: 80%;
  text-align: right;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.15)), color-stop(100%, rgba(0, 0, 0, 0.15)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26000000', endColorstr='#26000000',GradientType=0 );
  /* IE6-9 */ }

pre.src-dot:before {
  content: "dot source.";
  display: block;
  padding: 0.6em 1em 0.4em 1em;
  margin: -1em -0.6em 1em -0.6em;
  font-size: 80%;
  text-align: right;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.15)), color-stop(100%, rgba(0, 0, 0, 0.15)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26000000', endColorstr='#26000000',GradientType=0 );
  /* IE6-9 */ }

pre.src-gnuplot:before {
  content: "gnuplot source.";
  display: block;
  padding: 0.6em 1em 0.4em 1em;
  margin: -1em -0.6em 1em -0.6em;
  font-size: 80%;
  text-align: right;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.15)), color-stop(100%, rgba(0, 0, 0, 0.15)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26000000', endColorstr='#26000000',GradientType=0 );
  /* IE6-9 */ }

pre.src-java:before {
  content: "java source.";
  display: block;
  padding: 0.6em 1em 0.4em 1em;
  margin: -1em -0.6em 1em -0.6em;
  font-size: 80%;
  text-align: right;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.15)), color-stop(100%, rgba(0, 0, 0, 0.15)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26000000', endColorstr='#26000000',GradientType=0 );
  /* IE6-9 */ }

pre.src-js:before {
  content: "js source.";
  display: block;
  padding: 0.6em 1em 0.4em 1em;
  margin: -1em -0.6em 1em -0.6em;
  font-size: 80%;
  text-align: right;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.15)), color-stop(100%, rgba(0, 0, 0, 0.15)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26000000', endColorstr='#26000000',GradientType=0 );
  /* IE6-9 */ }

pre.src-json:before {
  content: "json source.";
  display: block;
  padding: 0.6em 1em 0.4em 1em;
  margin: -1em -0.6em 1em -0.6em;
  font-size: 80%;
  text-align: right;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.15)), color-stop(100%, rgba(0, 0, 0, 0.15)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26000000', endColorstr='#26000000',GradientType=0 );
  /* IE6-9 */ }

pre.src-julia:before {
  content: "julia source.";
  display: block;
  padding: 0.6em 1em 0.4em 1em;
  margin: -1em -0.6em 1em -0.6em;
  font-size: 80%;
  text-align: right;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.15)), color-stop(100%, rgba(0, 0, 0, 0.15)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26000000', endColorstr='#26000000',GradientType=0 );
  /* IE6-9 */ }

pre.src-ledger:before {
  content: "ledger source.";
  display: block;
  padding: 0.6em 1em 0.4em 1em;
  margin: -1em -0.6em 1em -0.6em;
  font-size: 80%;
  text-align: right;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.15)), color-stop(100%, rgba(0, 0, 0, 0.15)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26000000', endColorstr='#26000000',GradientType=0 );
  /* IE6-9 */ }

pre.src-lilypond:before {
  content: "lilypond source.";
  display: block;
  padding: 0.6em 1em 0.4em 1em;
  margin: -1em -0.6em 1em -0.6em;
  font-size: 80%;
  text-align: right;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.15)), color-stop(100%, rgba(0, 0, 0, 0.15)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26000000', endColorstr='#26000000',GradientType=0 );
  /* IE6-9 */ }

pre.src-mscgen:before {
  content: "mscgen source.";
  display: block;
  padding: 0.6em 1em 0.4em 1em;
  margin: -1em -0.6em 1em -0.6em;
  font-size: 80%;
  text-align: right;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.15)), color-stop(100%, rgba(0, 0, 0, 0.15)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26000000', endColorstr='#26000000',GradientType=0 );
  /* IE6-9 */ }

pre.src-octave:before {
  content: "octave source.";
  display: block;
  padding: 0.6em 1em 0.4em 1em;
  margin: -1em -0.6em 1em -0.6em;
  font-size: 80%;
  text-align: right;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.15)), color-stop(100%, rgba(0, 0, 0, 0.15)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26000000', endColorstr='#26000000',GradientType=0 );
  /* IE6-9 */ }

pre.src-oz:before {
  content: "oz source.";
  display: block;
  padding: 0.6em 1em 0.4em 1em;
  margin: -1em -0.6em 1em -0.6em;
  font-size: 80%;
  text-align: right;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.15)), color-stop(100%, rgba(0, 0, 0, 0.15)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26000000', endColorstr='#26000000',GradientType=0 );
  /* IE6-9 */ }

pre.src-plantuml:before {
  content: "plantuml source.";
  display: block;
  padding: 0.6em 1em 0.4em 1em;
  margin: -1em -0.6em 1em -0.6em;
  font-size: 80%;
  text-align: right;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.15)), color-stop(100%, rgba(0, 0, 0, 0.15)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26000000', endColorstr='#26000000',GradientType=0 );
  /* IE6-9 */ }

pre.src-r:before {
  content: "R source.";
  display: block;
  padding: 0.6em 1em 0.4em 1em;
  margin: -1em -0.6em 1em -0.6em;
  font-size: 80%;
  text-align: right;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.15)), color-stop(100%, rgba(0, 0, 0, 0.15)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26000000', endColorstr='#26000000',GradientType=0 );
  /* IE6-9 */ }

pre.src-racket:before {
  content: "racket source.";
  display: block;
  padding: 0.6em 1em 0.4em 1em;
  margin: -1em -0.6em 1em -0.6em;
  font-size: 80%;
  text-align: right;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.15)), color-stop(100%, rgba(0, 0, 0, 0.15)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26000000', endColorstr='#26000000',GradientType=0 );
  /* IE6-9 */ }

pre.src-sass:before {
  content: "sass source.";
  display: block;
  padding: 0.6em 1em 0.4em 1em;
  margin: -1em -0.6em 1em -0.6em;
  font-size: 80%;
  text-align: right;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.15)), color-stop(100%, rgba(0, 0, 0, 0.15)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26000000', endColorstr='#26000000',GradientType=0 );
  /* IE6-9 */ }

pre.src-scala:before {
  content: "scala source.";
  display: block;
  padding: 0.6em 1em 0.4em 1em;
  margin: -1em -0.6em 1em -0.6em;
  font-size: 80%;
  text-align: right;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.15)), color-stop(100%, rgba(0, 0, 0, 0.15)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26000000', endColorstr='#26000000',GradientType=0 );
  /* IE6-9 */ }

pre.src-screen:before {
  content: "screen source.";
  display: block;
  padding: 0.6em 1em 0.4em 1em;
  margin: -1em -0.6em 1em -0.6em;
  font-size: 80%;
  text-align: right;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.15)), color-stop(100%, rgba(0, 0, 0, 0.15)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26000000', endColorstr='#26000000',GradientType=0 );
  /* IE6-9 */ }

pre.src-sexpr:before {
  content: "sexpr source.";
  display: block;
  padding: 0.6em 1em 0.4em 1em;
  margin: -1em -0.6em 1em -0.6em;
  font-size: 80%;
  text-align: right;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.15)), color-stop(100%, rgba(0, 0, 0, 0.15)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26000000', endColorstr='#26000000',GradientType=0 );
  /* IE6-9 */ }

pre.src-s-expressions:before {
  content: "s-expressions source.";
  display: block;
  padding: 0.6em 1em 0.4em 1em;
  margin: -1em -0.6em 1em -0.6em;
  font-size: 80%;
  text-align: right;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.15)), color-stop(100%, rgba(0, 0, 0, 0.15)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26000000', endColorstr='#26000000',GradientType=0 );
  /* IE6-9 */ }

pre.src-sql:before {
  content: "sql source.";
  display: block;
  padding: 0.6em 1em 0.4em 1em;
  margin: -1em -0.6em 1em -0.6em;
  font-size: 80%;
  text-align: right;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.15)), color-stop(100%, rgba(0, 0, 0, 0.15)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26000000', endColorstr='#26000000',GradientType=0 );
  /* IE6-9 */ }

pre.src-xml:before {
  content: "xml source.";
  display: block;
  padding: 0.6em 1em 0.4em 1em;
  margin: -1em -0.6em 1em -0.6em;
  font-size: 80%;
  text-align: right;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.15)), color-stop(100%, rgba(0, 0, 0, 0.15)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26000000', endColorstr='#26000000',GradientType=0 );
  /* IE6-9 */ }

pre.src-yaml:before {
  content: "yaml source.";
  display: block;
  padding: 0.6em 1em 0.4em 1em;
  margin: -1em -0.6em 1em -0.6em;
  font-size: 80%;
  text-align: right;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.15)), color-stop(100%, rgba(0, 0, 0, 0.15)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26000000', endColorstr='#26000000',GradientType=0 );
  /* IE6-9 */ }

/***********************************************/
.org-info-search-highlight {
  background-color: #adefef;
  /* same color as emacs default */
  color: #000000;
  font-weight: bold; }

.org-bbdb-company {
  font-style: italic; }

.org-bbdb-name {
  text-decoration: underline; }

.org-bold {
  font-weight: bold; }

.org-bold-italic {
  font-weight: bold;
  font-style: italic; }

.org-border {
  background-color: #000000; }

.org-buffer-menu-buffer {
  font-weight: bold; }

.org-builtin {
  background-color: #F5F5F5;
  color: #C05A06;
  font-style: normal;
  font-weight: bold;
  text-decoration: none; }

.org-button {
  text-decoration: underline; }

.org-c-nonbreakable-space {
  background-color: #ff0000;
  font-weight: 700; }

.org-calendar-today {
  /* calendar-today */
  text-decoration: underline; }

.org-comment {
  background-color: #F5F5F5;
  color: #b22222;
  font-style: italic;
  font-weight: normal;
  text-decoration: none; }

.org-comment-delimiter {
  background-color: #F5F5F5;
  color: #b22222;
  font-style: italic;
  font-weight: normal;
  text-decoration: none; }

.org-constant {
  background-color: #F5F5F5;
  color: #5f9ea0;
  font-style: normal;
  font-weight: normal;
  text-decoration: none; }

.org-cursor {
  background-color: #000000; }

.org-default {
  background-color: #F5F5F5;
  color: #000000;
  font-style: normal;
  font-weight: normal; }

.org-diary {
  color: #ff0000; }

.org-doc {
  color: #bc8f8f; }

.org-escape-glyph {
  color: #a52a2a; }

.org-file-name-shadow {
  color: #7f7f7f; }

.org-fringe {
  color: #000000;
  background-color: #f2f2f2; }

.org-function-name {
  background-color: #F5F5F5;
  color: #0000ff;
  font-style: normal;
  font-weight: normal;
  text-decoration: none; }

.org-header-line {
  color: #333333;
  background-color: #e5e5e5; }

.org-help-argument-name {
  font-style: italic; }

.org-highlight {
  background-color: #b4eeb4; }

.org-holiday {
  background-color: #ffc0cb; }

.org-info-header-node {
  color: #a52a2a;
  font-weight: bold;
  font-style: italic; }

.org-info-header-xref {
  color: #0000ff;
  text-decoration: underline; }

.org-info-menu-header {
  font-weight: bold; }

.org-info-menu-star {
  color: #ff0000; }

.org-info-node {
  color: #a52a2a;
  font-weight: bold;
  font-style: italic; }

.org-info-title-1 {
  font-size: 172%;
  font-weight: 700; }

.org-info-title-2 {
  font-size: 144%;
  font-weight: 700; }

.org-info-title-3 {
  font-size: 116%;
  font-weight: 700; }

.org-info-title-4 {
  font-size: 88%;
  font-weight: 700; }

.org-info-title-5 {
  font-size: 60%;
  font-weight: 700; }

.org-info-title-6 {
  font-size: 32%;
  font-weight: 700; }

.org-info-xref {
  color: #0000ff;
  text-decoration: underline; }

.org-isearch {
  color: #b0e2ff;
  background-color: #cd00cd; }

.org-italic {
  font-style: italic; }

.org-keyword,
.org-tuareg-font-lock-governing,
.org-nxml-tag-delimiter,
.org-nxml-element-local-name,
.org-nxml-tag-slash {
  background-color: #F5F5F5;
  color: #a020f0;
  font-style: normal;
  font-weight: bold;
  text-decoration: none; }

.org-lazy-highlight {
  background-color: #afeeee; }

.org-link {
  color: #113399;
  text-decoration: underline; }

.org-link-visited {
  color: #113399;
  text-decoration: underline; }

.org-match {
  background-color: #ffff00; }

.org-message-cited-text {
  color: #ff0000; }

.org-message-header-cc {
  color: #191970; }

.org-message-header-name {
  color: #6495ed; }

.org-message-header-newsgroups {
  color: #00008b;
  font-weight: bold;
  font-style: italic; }

.org-message-header-other {
  color: #4682b4; }

.org-message-header-subject {
  color: #000080;
  font-weight: bold; }

.org-message-header-to {
  color: #191970;
  font-weight: bold; }

.org-message-header-xheader {
  color: #0000ff; }

.org-message-mml {
  color: #228b22; }

.org-message-separator {
  color: #a52a2a; }

.org-minibuffer-prompt {
  color: #0000cd; }

.org-mm-uu-extract {
  color: #006400;
  background-color: #ffffe0; }

.org-mode-line {
  color: #000000;
  background-color: #bfbfbf; }

.org-mode-line-buffer-id {
  font-weight: bold; }

.org-mode-line-inactive {
  color: #333333;
  background-color: #e5e5e5; }

.org-mouse {
  background-color: #000000; }

.org-next-error {
  background-color: #eedc82; }

.org-nobreak-space {
  color: #a52a2a;
  text-decoration: underline; }

.org-org-agenda-date {
  color: #0000ff; }

.org-org-agenda-date-weekend {
  color: #0000ff;
  font-weight: bold; }

.org-org-agenda-restriction-lock {
  background-color: #ffff00; }

.org-org-agenda-structure {
  color: #0000ff; }

.org-org-archived {
  color: #7f7f7f; }

.org-org-code {
  color: #7f7f7f; }

.org-org-column {
  background-color: #e5e5e5; }

.org-org-column-title {
  background-color: #e5e5e5;
  font-weight: bold;
  text-decoration: underline; }

.org-org-date {
  color: #a020f0;
  text-decoration: underline; }

.org-org-done {
  color: #228b22;
  font-weight: bold; }

.org-org-drawer {
  color: #0000ff; }

.org-org-ellipsis {
  color: #b8860b;
  text-decoration: underline; }

.org-org-formula {
  color: #b22222; }

.org-org-headline-done {
  color: #e5e5e5; }

.org-org-hide {
  color: #e5e5e5; }

.org-org-latex-and-export-specials {
  color: #8b4513; }

.org-org-level-1 {
  color: #0000ff; }

.org-org-level-2 {
  color: #b8860b; }

.org-org-level-3 {
  color: #a020f0; }

.org-org-level-4 {
  color: #b22222; }

.org-org-level-5 {
  color: #228b22; }

.org-org-level-6 {
  color: #5f9ea0; }

.org-org-level-7 {
  /* org-level-7 */
  color: #da70d6; }

.org-org-level-8 {
  /* org-level-8 */
  color: #bc8f8f; }

.org-org-link {
  color: #113399;
  text-decoration: underline; }

.org-org-scheduled-previously {
  color: #b22222; }

.org-org-scheduled-today {
  color: #006400; }

.org-org-sexp-date {
  color: #bc8f8f; }

.org-org-special-keyword {
  color: #bc8f8f; }

.org-org-table {
  /* org-table */
  color: #0000ff; }

.org-org-tag {
  font-weight: bold; }

.org-org-target {
  text-decoration: underline; }

.org-org-time-grid {
  color: #0000ff; }

.org-org-todo {
  color: #ff0000; }

.org-org-upcoming-deadline {
  color: #b22222; }

.org-org-verbatim {
  color: #7f7f7f;
  text-decoration: underline; }

.org-org-warning {
  /* org-warning */
  color: #ff0000;
  font-weight: bold; }

.org-outline-1 {
  color: #0000ff; }

.org-outline-2 {
  color: #b8860b; }

.org-outline-3 {
  color: #a020f0; }

.org-outline-4 {
  color: #b22222; }

.org-outline-5 {
  color: #228b22; }

.org-outline-6 {
  color: #5f9ea0; }

.org-outline-7 {
  color: #da70d6; }

.org-outline-8 {
  color: #bc8f8f; }

.org-preprocessor {
  color: #da70d6; }

.org-query-replace {
  color: #b0e2ff;
  background-color: #cd00cd; }

.org-regexp-grouping-backslash {
  font-weight: bold; }

.org-regexp-grouping-construct {
  font-weight: bold; }

.org-region {
  background-color: #eedc82; }

.org-scroll-bar {
  background-color: #bfbfbf; }

.org-secondary-selection {
  background-color: #ffff00; }

.org-shadow {
  color: #7f7f7f; }

.org-sh-quoted-exec {
  background-color: #F5F5F5;
  color: #a020f0;
  font-style: normal;
  font-weight: bold;
  text-decoration: none; }

.org-show-paren-match {
  background-color: #40e0d0; }

.org-show-paren-mismatch {
  color: #ffffff;
  background-color: #a020f0; }

.org-string,
.org-nxml-text {
  background-color: #F5F5F5;
  color: #2F72C2;
  font-style: normal;
  font-weight: normal;
  text-decoration: none; }

.org-texinfo-heading {
  color: #0000ff; }

.org-tool-bar {
  color: #000000;
  background-color: #bfbfbf; }

.org-tooltip {
  color: #000000;
  background-color: #bfbfbf; }

.org-trailing-whitespace {
  background-color: #ff0000; }

.org-type {
  background-color: #F5F5F5;
  color: #228b22;
  font-style: normal;
  font-weight: normal;
  text-decoration: underline; }

.org-underline {
  text-decoration: underline; }

.org-variable-name {
  background-color: #F5F5F5;
  color: #CE0092;
  font-style: oblique;
  font-weight: normal;
  text-decoration: none; }

.org-warning {
  color: #ff0000;
  font-weight: bold; }

div#preamble {
  background-color: #ffffff;
  color: #000000;
  font-size: 80%;
  margin: 0.4em 0em 0.4em 0em;
  padding: 0.4em;
  text-align: left; }
  div#preamble * {
    font-size: inherit; }
  div#preamble p {
    margin: 0;
    padding: 0; }
  div#preamble .author {
    font-weight: 500; }
  div#preamble .creator {
    font-style: italic; }
  div#preamble a {
    background-color: #ffffff;
    color: #000000;
    font-style: italic; }
  div#preamble a:hover {
    text-decoration: underline; }

div#postamble {
  background-color: #ffffff;
  color: #000000;
  font-size: 80%;
  margin: 0.4em 0em 0.4em 0em;
  padding: 0.4em;
  text-align: left; }
  div#postamble * {
    font-size: inherit; }
  div#postamble p {
    margin: 0;
    padding: 0; }
  div#postamble .author {
    font-weight: 500; }
  div#postamble .creator {
    font-style: italic; }
  div#postamble a {
    background-color: #ffffff;
    color: #000000;
    font-style: italic; }
  div#postamble a:hover {
    text-decoration: underline; }

table {
  font-size: 100%;
  border-collapse: collapse;
  margin: .5em 0;
  background-color: #ffffff;
  color: #000000; }
  table th, table td {
    border: 1px solid #777777;
    vertical-align: top;
    padding: .3em;
    margin: 2px;
    background-color: #ffffff;
    color: #000000; }
  table th {
    background-color: #eeeeee;
    color: #000000; }

span.underline {
  text-decoration: underline; }

.ra {
  text-align: right; }

.sidebar {
  float: right;
  width: 25em;
  background-color: #a02f6c;
  color: #a02f6c;
  margin: 2em -2em 2em 2em;
  padding: 1em; }
  .sidebar a {
    border: none; }
  .sidebar a:link {
    color: #113399; }
  .sidebar a:visited {
    color: #113399; }
  .sidebar a:hover {
    color: #990000; }
  .sidebar a:active {
    color: #990000; }

div.center,
p.verse {
  margin: 1em 33.33% 1em 33.33%;
  width: 33.33%;
  display: block; }

/* Todo List Styles */
.title {
  text-align: center; }

.todo {
  color: red; }

.done {
  color: green; }

.fixme {
  background: #FFFF66;
  font-weight: bold; }

.timestamp {
  color: gray; }

.timestamp-kwd {
  color: #f59ea0; }

.tag {
  background-color: #add8e6;
  font-weight: normal; }

.target {
  background-color: foreground; }

.footdef * {
  font-size: 95%; }
.footdef sup :after {
  content: "."; }
.footdef sup a {
  text-decoration: none;
  font-weight: normal; }
.footdef .footpara {
  display: inline; }
  .footdef .footpara a {
    font-weight: normal; }

/* FLOATING INDEX */
/* FLOATING INDEX */
@media print {
  div#postamble {
    display: none !important; }

  div#preamble {
    display: none !important; }

  .sidebar-toggle {
    display: none !important; }

  .sidebar-checkbox {
    display: none !important; }

  h1.title {
    display: none !important; } }
/*******************************************************************************

Copyright (c) 2015 Massimo Maria Ghisalberti <massimo.ghisalberti@gmail.com>  

Permission is hereby granted, free of charge, to any person obtaining a copy of
this software and associated documentation files (the "Software"), to deal in
the Software without restriction, including without limitation the rights to
use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies
of the Software, and to permit persons to whom the Software is furnished to do
so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.

*******************************************************************************/
#sidebar-checkbox {
  display: none; }

#content {
  border: none !important;
  background: #ffffff !important; }
  #content .title {
    position: fixed;
    top: 0em;
    left: 0em;
    padding-top: 1.5em;
    width: 100%;
    height: 1.4em;
    z-index: 100;
    white-space: nowrap; }
  #content p {
    text-align: justify; }
  #content > div h2:before, #content > section h2:before {
    content: '';
    display: block;
    height: 4em;
    margin: -3.5em 0 0; }
  #content > div h3:before, #content > section h3:before {
    content: '';
    display: block;
    height: 4em;
    margin: -4em 0 0; }
  #content > div h4:before, #content > section h4:before {
    content: '';
    display: block;
    height: 4.7em;
    margin: -4.7em 0 0; }
  #content > div h5:before, #content > section h5:before {
    content: '';
    display: block;
    height: 5.6em;
    margin: -5.6em 0 0; }
  #content > div h6:before, #content > section h6:before {
    content: '';
    display: block;
    height: 7em;
    margin: -7em 0 0; }
  #content section {
    transition: transform 0.3s ease-in-out 0s;
    backface-visibility: hidden; }
  #content > div[id*=outline-container-sec]:last-child, #content > section[id*=outline-container-sec]:last-child {
    clear: both;
    margin-bottom: 5.2em;
    padding-bottom: 1em; }

#sidebar-checkbox:checked ~ section {
  width: 68%;
  transform: translateX(49%); }
#sidebar-checkbox:checked ~ div#footnotes {
  width: 68%;
  transform: translateX(49%); }
#sidebar-checkbox:checked ~ nav#table-of-contents {
  transform: translateX(100%); }
  #sidebar-checkbox:checked ~ nav#table-of-contents h2 {
    width: 90%; }
  #sidebar-checkbox:checked ~ nav#table-of-contents #text-table-of-contents {
    width: 90%; }
#sidebar-checkbox:checked ~ .sidebar-toggle {
  background-color: #505050; }

.sidebar-toggle {
  z-index: 1000;
  position: fixed;
  top: 1rem;
  left: 1rem;
  display: block;
  width: 1rem;
  height: 1rem;
  color: #505050;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  padding: 0.5rem 0.65rem;
  transition: transform 0.3s ease-in-out 0s;
  backface-visibility: hidden;
  padding-left: 1.25em;
  cursor: pointer;
  text-align: center; }
  .sidebar-toggle:before {
    content: "";
    margin-left: -0.4em;
    display: block;
    width: 1.2em;
    height: 0.2em;
    border-top: 0.7em double #ffffff;
    border-bottom: 0.28em solid #ffffff; }

nav#table-of-contents {
  position: fixed;
  left: -32%;
  width: 32%;
  top: 4.2em;
  bottom: 1%;
  margin-left: -1.2%;
  padding-left: 1%;
  color: #ffffff !important;
  background: #505050 !important;
  transition: transform 0.3s ease-in-out 0s;
  backface-visibility: hidden;
  overflow-y: auto; }
  nav#table-of-contents * {
    color: #ffffff !important;
    background: #505050 !important; }
  nav#table-of-contents h2 {
    width: 32%;
    z-index: 10;
    display: none; }
  nav#table-of-contents #text-table-of-contents {
    width: 32%; }
    nav#table-of-contents #text-table-of-contents ul li {
      margin: 0.2em 0em 0.2em -1.8em; }

#preamble {
  position: fixed;
  top: 4em;
  left: 0rem;
  right: 0rem;
  background-color: transparent !important;
  z-index: 1000;
  white-space: nowrap; }
  #preamble p:first-child {
    padding-left: 1em; }
  #preamble p {
    display: inline;
    color: white; }
    #preamble p a {
      color: white;
      background-color: transparent !important; }
  #preamble p:after {
    content: ' - '; }
  #preamble p:last-child:after {
    content: ''; }

#postamble {
  clear: both;
  border-top: 1px solid #aaaaaa;
  position: fixed;
  left: 0rem;
  right: 0rem;
  bottom: -0.4em;
  height: 2%;
  min-height: 2%;
  background: transparent;
  white-space: nowrap; }
  #postamble p:first-child {
    padding-left: 1em; }
  #postamble p {
    display: inline;
    color: #000000; }
    #postamble p a {
      color: #000000;
      background-color: transparent !important; }
  #postamble p:after {
    content: ' - '; }
  #postamble p:last-child:after {
    content: ''; }

/*# sourceMappingURL=org-toggle.css.map */
