/* COOKIES */
.cookies-disclaimer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 1000;
    background-color: #818178;
    padding: 1em;
    font-size: 1em;
}
.cookies-disclaimer * {
    color: #ffffff; 
}
.cookies-disclaimer .privacy-content {
    color: #ffffff;
}
.cookies-disclaimer .privacy-link {
    margin-left: 1em;
    font-weight: bold;
    color: #ffffff;
}
.cookies-disclaimer .privacy-ok {
    margin-left: 1em;
    font-weight: bold;
    color: #ffffff;
}
.cookies-disclaimer .privacy-no {
    margin-left: 1em;
    font-weight: bold;
    color: #ffffff;
}

